#ramcek{
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;

}
#pdf{
    width: 80rem;
    max-height: auto;
    border: 1px solid black;

}
/* Hlavicka */
#header{
    display: flex;
    width: 80rem;
    height: 6rem;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
#datum{
    margin-right: 3rem;
}
#header img{
    width: 8rem;
    height: 8rem;
    margin-left: 2rem;
}
/* Telo*/
#body{
    display: block;
}
#p1{
    display: flex;
    max-width: 80rem;
    height: 3rem;
    border: 1px solid black;
    border-bottom: none;
    margin: 1rem;
    margin-bottom: -1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
    
}
#p1 h2{
    font-weight: normal;
    font-style: italic;
}
#p1-body{
    display: flex;
    max-width: 80rem;
    max-height: auto;   
    border: 1px solid black;
    margin: 1rem;
}
#Ingrediencie{
    border-right: 1px solid black; 
    max-width: 40rem; 
    padding: 1rem 1rem 1rem 1rem;
}
#Ingrediencie h3{
    font-weight: 500;
    font-style: oblique;
    margin: -0.3rem 0rem -0.3rem 0rem;
}
#Postup{
    max-width: 40rem; 
    padding: 1rem 1rem 1rem 1rem;
}
#Postup h3{
    font-weight: 500;
    font-style: oblique;
    margin: -0.3rem 0rem -0.3rem 0rem;
}